<label class="string pr-0" for="form_books">Requested Books</label>
<abbr title="required">*</abbr>

<%= f.collection_select :requested_books, @books, 
											:select_value, 
											:title,
											{prompt: "Click then begin typing to select one or more books       "},
											{multiple: true}
												%>
<div class="my-2"></div>

<%= f.input :preferred_date, as: :date, 
                    start_year: Date.today.year, end_year: Date.today.year+1, order: [:month, :day, :year], 
                    label: "Date", 
                    required: :true, 
                    html5: true %>

<%= f.input :format, as: :radio_buttons, 
								collection: ["eBook", "Print"],
          			item_wrapper_class: "form-check inline",
								legend_html: { class: "pl-0" },
								required: true %>

<%= f.input :authorized_bookstore, hint: "(required for Desk Copy requests)", required: false,
											item_wrapper_class: "mt-3" %>

<%= f.input :comments, as: :text, required: false %>


