<label class="string pr-0" for="form_books">
	<%= t("tupress.forms.copy-request.books") %>
</label>

<abbr title="required">*</abbr>

<%= f.collection_select :requested_books, @books, 
											:select_value, 
											:select_value,
											{prompt: t("tupress.forms.copy-request.prompt")},
											{multiple: true, required: true}
												%>
<div class="my-2"></div>

<%= f.input :format, as: :radio_buttons, 
								collection: ["eBook", "Print"],
          			item_wrapper_class: "form-check inline",
								legend_html: { class: "pl-0" },
								required: true %>

<%= f.input :authorized_bookstore, hint: t("tupress.forms.copy-request.hint"), required: false,
											item_wrapper_class: "mt-3" %>

<%= f.input :comments, as: :text, required: false %>


