  <% @books.each do |book| %>  
    <div class="row pb-lg-4 mt-lg-4 mb-lg-4 px-3 book-listing">
      <div class="col-12 col-md-4 col-lg-3 py-3 text-center">
        <%= link_to book_path(book) do %>
          <% if book.cover_image.attached? %>
            <%= image_tag book.index_image("cover_image"), class: "cover-image" %>
          <% else %>
            <%= image_tag "default-book-cover-index.png"  %>
          <% end %>
        <% end %>
      </div>
      <div class="col-12 col-md-8 col-lg-9 p-4 book-details">
        <h2><%= link_to book.title.html_safe, book_path(book) %></h2>
        <p>
          <em><%= book.subtitle if book.subtitle.present? %></em>
          <em><%= sanitize("<br />#{book.edition}").html_safe if book.edition.present? %></em>
        </p>
        <p><%= book.author_byline if book.author_byline.present? %></p>

        <% if book.award_year.present? && (["awards_by_subject", "awards_by_year"].include? action_name) %>
          <div class="awards mt-4">
          <% get_awards(book).each do |award| %>
            <%= award %>
          <% end %>
          </div>
        <% end %>

        <p class="mt-4"><%= sanitize book.blurb.html_safe if book.blurb.present? %></p>
        <p class="mb-5">
          <%= "#{book.pages_total} pages" if book.pages_total.present? %>
          <%= "| #{book.trim}" if book.trim.present? %>
          <%= "| #{book.illustrations}" if book.illustrations.present? %><br><br>
        </p>

        <p class="order-button">
        <%= link_to "ORDER", "https://cdcshoppingcart.uchicago.edu/Cart2/ChicagoBook.aspx?ISBN=#{book.isbn}&&PRESS=temple", 
                              class: "order-button" if book.isbn.present? %>
        </p>
      </div>
    </div>
  <% end %>

    <div class="row">
      <div class="col">
        <%= paginate @books unless ["awards_by_subject", "awards_by_year", "course_adoptions"].include? action_name %>
      </div>
    </div>
