<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @catalog.code %>
</p>

<p>
  <strong>Season:</strong>
  <%= @catalog.season %>
</p>

<p>
  <strong>Year:</strong>
  <%= @catalog.year %>
</p>

<%= link_to 'Edit', edit_catalog_path(@catalog) %> |
<%= link_to 'Back', catalogs_path %>
