<div class="container catalog show">

<div class="row">
  <div class="col-12 mt-3 px-0">
    <h1 class="mt-4">
      <%= title_link(@catalog) %>
    </h1>
      <% if @catalog.pdf.attached? %>
        <div class="text-right">
        <%= link_to @catalog.pdf.attachment do%>
          <%= image_tag(@catalog.custom_image("image", 100, 200)) if @catalog.image.attached? %>
          <%= link_to "<br />Download PDF version".html_safe, @catalog.pdf.attachment, class: "text-right text-lg-left mt-2" %><br />
        <% end %>
        </div>
      <% end %>
    </div>
  <div class="col-12 social-sharing text-md-right">
			<% if @catalog.pdf.attached? %>
				<%= link_to "Download PDF version", @catalog.pdf.attachment, class: "text-right text-lg-left" %><br />
			<% end %>

      <% @catalog.brochures.each do |brochure| %>
        <%= link_to brochure.title, brochure.pdf.attachment, class: "text-right text-lg-left" %>
        <%= display_image(brochure) %>
      <% end %>
	</div>
</div>

    <%= render "/books/books" %>

</div>