<div class="container catalog show">

  <div class="row">
    <div class="col-12 mt-3">
      <h1 class="mt-4">
        <%= title_link(@catalog) %>
      </h1>
    </div>
  </div>

  <% if @catalog.pdf.attached? || (@brochures && @page) %>
  <div class="row">
    <h2 class="gold mt-4 px-0 mx-0">Brochures</h2>
  </div>

  <div class="row bg-white mt-3 px-5 py-3">
    <% if @catalog.pdf.attached? %>
    <div class="col px-3 text-center brochure">
    <%= link_to @catalog.pdf.attachment, class: "d-block" do %>
      <%= display_image(@catalog) %>
      <p class="mb-0"><%= "#{@catalog.title} [PDF]" %></p>
    <% end %>
    </div>
    <% end if @catalog.pdf.attached? %>

    <% @catalog.brochures.each do |brochure| %>
    <div class="col px-3 text-center brochure">
      <%= link_to brochure.pdf.attachment, class: "d-block" do %>
        <%= display_image(brochure) %>
        <p class="mb-0"><%= brochure.title %></p>
      <% end %>
    </div>
    <% end %>
  </div>

  <div class="row">
    <h2 class="gold mt-4 px-0 mx-0">Titles</h2>
  </div>

  <% end %>

      <%= render "books" %>

</div>