<%= form_for([namespace, page.resource], html: { class: "form" }) do |f| %>
  <% if page.resource.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= t(
          "administrate.form.errors",
          pluralized_errors: pluralize(page.resource.errors.count, t("administrate.form.error")),
          resource_name: display_resource_name(page.resource_name).singularize
        ) %>
      </h2>

      <ul>
        <% page.resource.errors.full_messages.each do |message| %>
          <li class="flash-error"><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<nav>
  <div class="nav nav-tabs mb-4" id="nav-tab" role="tablist">
  <% page.attributes(controller.action_name).each do |title, attributes| -%>
    <%= link_to "#{title.humanize}", "#", 
                      { :'class' => "nav-item nav-link", 
                        :'id' => "nav-#{title}-tab",
                        :'data-bs-toggle' => "tab",
                        :'data-bs-target' => "##{title}-tab",
                        :'role' => "tab",
                        :'aria-controls' => "nav-#{title}",
                        :'aria-selected' => "true" }
                      %>
  <% end -%>
  </div>
</nav>

<div class="tab-content" id="nav-tabContent">
  <% page.attributes(controller.action_name).each do |title, attributes| -%>
    <div class="tab-pane fade show <%= "active" if title == "book" %>" id=<%= "#{title}-tab" %> role="tabpanel" aria-labelledby=<%= "nav-#{title}-tab" %>>
      <% attributes.each do |attribute| %>
        <div class="field-unit field-unit--<%= attribute.html_class %> field-unit--<%= requireness(attribute) %>">
          <%= render_field attribute, f: f %>
        </div>
      <% end %>
    </div>
  <% end -%>
</div>

<div class="form-actions">
  <%= f.submit %>
</div>

<% end %>
