<%#
# Form Partial

This partial is rendered on a resource's `new` and `edit` pages,
and renders all form fields for a resource's editable attributes.

## Local variables:

- `page`:
  An instance of [Administrate::Page::Form][1].
  Contains helper methods to display a form,
  and knows which attributes should be displayed in the resource's form.

[1]: http://www.rubydoc.info/gems/administrate/Administrate/Page/Form
%>

<%= form_for([namespace, page.resource], html: { class: "form" }) do |f| %>
  <% if page.resource.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= t(
          "administrate.form.errors",
          pluralized_errors: pluralize(page.resource.errors.count, t("administrate.form.error")),
          resource_name: display_resource_name(page.resource_name).singularize
        ) %>
      </h2>

      <ul>
        <% page.resource.errors.full_messages.each do |message| %>
          <li class="flash-error"><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<nav>
  <div class="nav nav-tabs mb-4" id="nav-tab" role="tablist">
  <% @tab_names.each do |tabname| %>
    <%= link_to "#{tabname[1].humanize}", 
                "##{tabname[1]}-tab", 
                  { :'class' => "nav-item nav-link", 
                    :'id' => "nav-#{tabname[1]}-tab",
                    :'data-toggle' => "tab",
                    :'role' => "tab",
                    :'aria-controls' => "nav-#{tabname[1]}",
                    :'aria-selected' => "true" }
                  %>
  <% end %>
</div>
</nav>
<div class="tab-content" id="nav-tabContent">

  <% @tab_content.each do |tab, fields| %>
    <div class="tab-pane fade show <%= "active" if tab == "book" %>" id=<%= "#{tab}-tab" %> role="tabpanel" aria-labelledby=<%= "nav-#{tab}-tab" %>>

      <% page.attributes.each do |attribute| %>
          <% fields.each do |field| %>
            <% if attribute.name == field %>
              <div class="field-unit field-unit--<%= attribute.html_class %> field-unit--<%= requireness(attribute) %>">
                <%= render_field attribute, f: f %>
              </div>
            <% end %>
          <% end %>
      <% end %>

    </div>
  <% end %>

</div>

<div class="form-actions">
  <%= f.submit %>
</div>

<% end %>
