<div class="container faq index">

  <div class="row">
    <div class="col px-3 mt-4 mb-3">
      <h1><%= title_link("Frequently Asked Questions") %></h1>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="alert alert-warning alert-dismissible mx-2" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        If you have a question not answered here, feel free to email the 
        <%= mail_to 'tempress@temple.edu', 'webmaster' :class=>'alert-link' %> with your query.
      </div>

      <div class="panel-group" id="accordion">
        <div class="faqHeader"></div>
        <% @faqs.each_with_index do |faq, index| %>
        <div class="panel panel-default list-group-item py-3">
            <div class="panel-heading">
              <h2 class="panel-title mb-0">
                <a class="accordion-toggle" data-bs-toggle="collapse" data-bs-target="#collapse<%= index %>" href="#collapse<%= index %>">
                  <%= faq.title %>
                </a>
              </h2>
            </div>
            <div id="collapse<%= index %>" class="panel-collapse collapse in" data-bs-parent="#accordion" >
              <div class="panel-body mt-3">
                <%= faq.answer %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

</div>
