<div class="container index" id="people">

<div class="row">
  <div class="col-12">
    <h1 class="mb-4 mt-4">
      <%= title_link(t("tupress.people.title")) %>
    </h1>
  </div>
</div>

<% @departments.each do |dept, people| %>
<section>
<% unless dept == "Administration" %>
	<div class="row">
		<div class="col-12 mb-0 mt-3">
      <h2 class="dept-name pl-4 mb-4">
        <%= dept %>
      </h2>
    </div>
	</div>
<% end %>
	<div class="row">
	<% people.each do |person| %>
    <div class="col-12 col-md-6 mb-4 pr-4" >
      <div class="p-4 person-card">
      <article>
        <%= render "image_link", person: person %>
        <p class="name"><%= person.title %></p>
        <p><em><%= person.position %></em></p>
        <p><%= person.position_description %></p>
        <p><%= mail_to person.email, person.email %></p>
      </article>
      </div>
    </div>
	<% end %>
	</div>
</section>
<% end %>
</div>
