<div class="text-center pb-5 pt-3" id="highlights">
  <%= render "carousel" %>
</div>

<div id="home-background">

<div class="container homepage">

<div class="row">
  <div class="col col-3 mt-4" id="left-home-menu">
    <ul class="list-unstyled">
      <li><%= link_to "Resources for Authors", "#" %></li>
      <li><%= link_to "Resources for Booksellers", "#" %></li>
      <li><%= link_to "Conferences", "#" %></li>
      <li><%= link_to "Special Offers", "#" %></li>
      <li><%= link_to "Books for Course Adoption", "#" %></li>
      <li><%= link_to "Read Our Blog", "#" %></li>
      <li><%= link_to "Donate to the Press", "#" %></li>
    </ul>
  </div>

  <div class="col col-9 mt-4 pt-2 pb-1" id="new-forthcoming">
    <h1>New & Forthcoming</h1>
    <div class="row pt-3">
      <div class="col-4 text-center">
      <%= link_to "#" do %>
        <%= image_pack_tag "Giving_Back.jpg" %>
        <p><strong>Giving Back</strong></p>
      <% end %>
      </div>
      <div class="col-4 text-center">
      <%= link_to "#" do %>
      <%= image_pack_tag "Illegal_Immigrants_Model_Minorities.jpg" %>
        <p><strong>Illegal Immigrants Model Minorities</strong></p>
      <% end %>
      </div>
      <div class="col-4 text-center">
      <%= link_to "#" do %>
      <%= image_pack_tag "Women_s_Empowerment.jpg" %>
        <p><strong>Women's Empowerment and Disempowerment in Brazil</strong></p>
      <% end %>
      </div>
    </div>
  </div>
</div>

<div class="row mt-5">
  <div class="col col-9 pt-2 pl-4 pb-4" id="news">
    <h1>In the News</h1>
    <div class="row news-item">
      <div class="media">
        <a class="news-image" href="/book/20000000010359">
          <%= image_pack_tag "Allies_and_Obstacles.jpg" %>
        </a>
      </div>
      <div class="media-body">
      <h2>ALLIES AND OBSTACLES @ Institute on Disabilities at Temple University</h2>
      <p>Wednesday, February 10, 2021</p>
      <p></p><p>Join Allison C. Carey, Pamela Block, and Richard K. Scotch, authors of <a href="/book/20000000009747"><em>Allies and Obstacles:&nbsp;Disability Activism and Parents of Children with Disabilities</em></a>, for a book talk at the&nbsp;Institute on Disabilities at Temple University. Register for the event <a href="https://disabilities.temple.edu/miniseries/" target="_blank" rel="noopener">here</a>.</p><p></p>
      </div>
    </div>
    <div class="row news-item">
      <div class="media">
        <a class="news-image" href="/book/20000000010359">
          <%= image_pack_tag "Harrison_0920_border.jpg" %>
        </a>
      </div>
      <div class="media-body">
      <h2><a href="/book/20000000010359">Do Right by Me</a>
            <br><small><em>Learning to Raise Black Children in White Spaces</em></small>
          </h2>
          <p class="author">Valerie I. Harrison and Kathryn Peach D'Angelo</p>
          <p style="line-height:1.2">
              <strong>LISTEN:</strong>&nbsp;interview&nbsp;on 
              <a href="http://bit.ly/35E1TLn" target="_blank" rel="noopener"><em>Radio Times</em></a>, 
              (WHYY, 90.9 FM, Phila) Jan 12<br><strong>EVENTS</strong>: Feb 4 author reading at the 
              <a href="http://bit.ly/35mCxSg" target="_blank" rel="noopener">FLOP</a>&nbsp;&amp; Feb 8 at 
              <a href="http://bit.ly/35PZqh7" target="_blank" rel="noopener">Big Blue Marble Bookstore</a>
              </p>
      </div>
    </div>
    <div class="row news-item">
      <div class="media">
        <a class="news-image" href="/book/20000000010359">
          <%= image_pack_tag "Harrison_0920_border.jpg" %>
        </a>
      </div>
      <div class="media-body">
        <h2>
          <a href="/book/20000000010359">Do Right by Me</a>
          <br><small><em>Learning to Raise Black Children in White Spaces</em></small>
        </h2>
        <p class="author">Valerie I. Harrison and Kathryn Peach D'Angelo</p>
        <p style="line-height:1.2">
          <strong>LISTEN:</strong>&nbsp;interview&nbsp;on 
          <a href="http://bit.ly/35E1TLn" target="_blank" rel="noopener"><em>Radio Times</em></a>, 
          (WHYY, 90.9 FM, Phila) Jan 12<br><strong>EVENTS</strong>: Feb 4 author reading at the 
          <a href="http://bit.ly/35mCxSg" target="_blank" rel="noopener">FLOP</a>&nbsp;&amp; Feb 8 at 
          <a href="http://bit.ly/35PZqh7" target="_blank" rel="noopener">Big Blue Marble Bookstore</a>
        </p>
      </div>
    </div>
    <div class="row news-item">
      <div class="media">
        <a class="news-image" href="/book/20000000010059">
          <%= image_pack_tag "Modern_Mobility_Aloft_110819_sm.jpg" %>
        </a>
      </div>
      <div class="media-body">
        <h2>
          <a href="/book/20000000010059">Modern Mobility Aloft</a>
          <br><small><em>Elevated Highways, Architecture, and Urban Change in Pre-Interstate America</em></small>
        </h2>
        <p class="author">Amy D. Finstein</p>
        <p style="line-height:1.2">
          <small>
            </small></p><p><small><big><strong>BOOK TALK:</strong> Feb 9 @ 6PM Join the Skyscraper Museum in New York City for an online talk with<strong>&nbsp;Amy D. Finstein</strong><a href="/book/20000000010059"><em>.</em></a><a href="https://bit.ly/3nzNfLS" target="_blank" rel="noopener">Register here</a>&nbsp;for the online lecture.</big></small></p><small>
          </small>
        <p></p>
      </div>
    </div>
  </div>

  <div class="col-3" id="features">
    <div class="mb-4 p-3 white" id="feature-catalog">
      <h2>Spring 2021 Catalog</h2>
      <%= link_to "#" do %>
        <%= image_pack_tag "Cover_sp21_front.jpg"  %>
        <p class="mt-2">[PDF Version]</p>
      <% end %>
    </div>
    <div class="mb-4 p-3 white" id="feature-other">
      <h2>Download our 50th Anniversary Newsletter</h2>
      <%= link_to "#" do %>
        <%= image_pack_tag "50th_Newsletter.png" %>
        <p class="mt-2">[PDF]</p>
      <% end %>
    </div>
    <div class="p-3 pb-5 white" id="feature-philly">
      <h2>Books on the Philadelphia Region</h2>
      <%= link_to "#" do %>
        <%= image_pack_tag "phila.jpg" %>
      <% end %>
    </div>
  </div>
</div>

</div>
