<div class="text-center pb-5 pt-3" id="highlights">
  <%= render "carousel" %>
</div>

<div id="home-background">

<div class="container homepage">

<div class="row">
  <div class="col col-3 mt-4" id="left-home-menu">
    <ul class="list-unstyled">
      <li><%= link_to "Resources for Authors", "#" %></li>
      <li><%= link_to "Resources for Booksellers", "#" %></li>
      <li><%= link_to "Conferences", "#" %></li>
      <li><%= link_to "Special Offers", "#" %></li>
      <li><%= link_to "Books for Course Adoption", "#" %></li>
      <li><%= link_to "Read Our Blog", "#" %></li>
      <li><%= link_to "Donate to the Press", "#" %></li>
    </ul>
  </div>

  <div class="col col-9 mt-4 pt-2 pb-1" id="new-forthcoming">
    <h1>New & Forthcoming</h1>
    <div class="row pt-3">
      <div class="col-4 text-center">
      <%= link_to "https://giving.temple.edu/givetotupress" do %>
        <%= image_pack_tag "Giving_Back.jpg" %>
        <p><strong>Giving Back</strong></p>
      <% end %>
      </div>
      <div class="col-4 text-center">
      <%= link_to "#" do %>
      <%= image_pack_tag "Illegal_Immigrants_Model_Minorities.jpg" %>
        <p><strong>Illegal Immigrants Model Minorities</strong></p>
      <% end %>
      </div>
      <div class="col-4 text-center">
      <%= link_to "#" do %>
      <%= image_pack_tag "Women_s_Empowerment.jpg" %>
        <p><strong>Women's Empowerment and Disempowerment in Brazil</strong></p>
      <% end %>
      </div>
    </div>
  </div>
</div>

<div class="row mt-5">
  <div class="col col-9 pt-2 pl-4 pb-4" id="news">
    <h1>In the News</h1>
    <% @news_items.each do |news_item| %>
    <div class="row news-item">
      <div class="media">
        <%= link_to image_tag(news_item.image.attachment), news_item.link, class: "news-image" %>
      </div>
      <div class="media-body">
        <h2><%= link_to news_item.title, news_item.link %></h2>
        <%= news_item.description %>
      </div>
    </div>
    <% end %>
  </div>

  <div class="col-3" id="features">
    <% if @featured_catalog.present? %>
    <div class="mb-4 p-3 white" id="feature-catalog">
      <h2><%= @featured_catalog.title %> Catalog</h2>
      <%= link_to display_image(@featured_catalog), catalog_path(@featured_catalog.code) %>
      <p class="mt-2">
        <%= link_to "[PDF Version]", @featured_catalog.pdf.attachment if @featured_catalog.pdf.attached? %>
      </p>
    </div>
    <% end %>

    <% if @brochure.present? %>
    <div class="mb-4 p-3 white" id="feature-other">
      <h2><%= @brochure.title %></h2>
      <%= link_to @brochure.pdf.attachment do %>
        <%= display_image(@brochure) %>
        <p class="mt-2">[PDF]</p>
      <% end %>
    </div>
    <% end %>

    <div class="p-3 pb-5 white" id="feature-philly">
      <h2>Books on the Philadelphia Region</h2>
      <%= link_to "#" do %>
        <%= image_pack_tag "phila.jpg" %>
      <% end %>
    </div>
  </div>
</div>

</div>
