<div class="text-center pb-5 pt-3" id="highlights">
  <%= render "carousel" %>
</div>

<div id="home-background">

<div class="container homepage">

<div class="row px-3">
  <div class="col-12 col-lg-3 mt-4" id="left-home-menu">
    <ul class="list-unstyled px-3 pe-lg-0">
      <li><%= link_to t("tupress.default.menu.author_info.label"), webpage_path(t("tupress.default.menu.author_info.slug")) %></li>
      <li><%= link_to t("tupress.default.menu.bookseller_info.label"), webpage_path(t("tupress.default.menu.bookseller_info.slug")) %></li>
      <li><%= link_to t("tupress.default.menu.conferences.label"), conferences_path %></li>
      <li><%= link_to t("tupress.default.menu.special_offers.label"), special_offers_path %></li>
      <li><%= link_to t("tupress.default.menu.course_adoptions.label"), course_adoptions_path %></li>
      <li><%= link_to t("tupress.default.menu.blog.label"), t("tupress.default.menu.blog.link") %></li>
      <li><%= link_to t("tupress.default.donate_label"), t("tupress.default.donate_link") %></li>
    </ul>
  </div>

  <div class="col-12 col-lg-9 mt-4 pt-2 pb-1" id="new-forthcoming">
    <div class="row">
      <div class="col-12">
        <h1><%= t("tupress.webpages.index.forthcoming") %></h1>
      </div>
    </div>
    <div class="row pt-3">
    <% @hot.each do |item| %>
      <div class="col-12 col-sm-6 col-lg-4 text-center">
      <%= link_to book_path(item) do %>
        <div class="new-image-holder">
        <%= hot_cover(item) %>
        </div>
        <p><strong><%= item.title %></strong></p>
      <% end %>
      </div>
      <% end if @hot.present? %>
    </div>
  </div>
</div>

<div class="row mt-5 px-3">
  <div class="col-12 col-lg-9 pt-2 ps-lg-4 pb-4" id="news">
    <h1><%= t("tupress.webpages.index.news") %></h1>

    <% @news.each do |item| %>
    <div class="row news-item">

      <div class="col-12 col-sm-3 left">
        <%= news_link(item, "image") %>
      </div>

      <div class="col-12 col-sm-9 right">
        <h2 class="pt-3 text-center text-sm-start pt-sm-0"><%= news_link(item) %></h2>
        <%= news_text(item) %>
      </div>
      
    </div>
    <% end %>
    
  </div>

  <div class="col-12 col-lg-3" id="features">
    <% if @featured_catalog.present? %>
    <div class="mb-4 p-3 white" id="feature-catalog">
      <h2><%= @featured_catalog.title %> Catalog</h2>
      <%= link_to display_image(@featured_catalog, true), catalog_path(@featured_catalog) %>
      <p class="mt-2">
        <%= link_to "[PDF Version]", @featured_catalog.pdf.attachment if @featured_catalog.pdf.attached? %>
      </p>
    </div>
    <% end %>

    <% if @brochure.present? %>
    <div class="mb-4 p-3 white" id="feature-other">
      <h2><%= @brochure.title %></h2>
      <%= link_to @brochure.pdf.attachment do %>
        <%= display_image(@brochure, true) %>
        <p class="mt-2">[PDF]</p>
      <% end %>
    </div>
    <% end %>

    <% if @philly.present? %>
    <div class="p-3 pb-5 white" id="feature-philly">
      <h2><%= t("tupress.webpages.index.philly") %></h2>
      <%= link_to subject_path(@philly) do %>
        <%= image_tag "phila.jpg",  loading: "lazy" %>
      <% end if @philly.present? %>
    </div>
    <% end %>
  </div>
</div>

</div>
