<div class="text-center pb-5 pt-3" id="highlights">
  <%= render "carousel" %>
</div>

<div id="home-background">

<div class="container homepage">

<div class="row">
  <div class="col col-3 mt-4" id="left-home-menu">
    <ul class="list-unstyled">
      <li><%= link_to t("tupress.default.menu.author_info.label"), "#" %></li>
      <li><%= link_to t("tupress.default.menu.bookseller_info.label"), "#" %></li>
      <li><%= link_to t("tupress.default.menu.conferences.label"), conferences_path %></li>
      <li><%= link_to t("tupress.default.menu.special_offers.label"), special_offers_path %></li>
      <li><%= link_to t("tupress.default.menu.course_adoptions.label"), course_adoptions_path %></li>
      <li><%= link_to t("tupress.default.menu.blog.label"), t("tupress.default.menu.blog.link") %></li>
      <li><%= link_to t("tupress.default.donate_label"), t("tupress.default.donate_link") %></li>
    </ul>
  </div>

  <div class="col col-9 mt-4 pt-2 pb-1" id="new-forthcoming">
    <h1><%= t("tupress.webpages.index.forthcoming") %></h1>
    <div class="row pt-3">
    <% @hot.each do |item| %>
      <div class="col-4 text-center">
      <%= link_to book_path(item.xml_id) do %>
        <%= hot_cover(item) %>
        <p><strong><%= item.title %></strong></p>
      <% end %>
      </div>
      <% end if @hot.present? %>
    </div>
  </div>
</div>

<div class="row mt-5">
  <div class="col col-9 pt-2 pl-4 pb-4" id="news">
    <h1><%= t("tupress.webpages.index.news") %></h1>
    <% @news.each do |item| %>
    <div class="row news-item">
      <div class="media">
        <%= link_to news_image(item), news_link(item), class: "news-image" %>
      </div>
      <div class="media-body">
        <h2><%= news_link(item) %></h2>
        <%= news_text(item) %>
      </div>
    </div>
    <% end %>
  </div>

  <div class="col-3" id="features">
    <% if @featured_catalog.present? %>
    <div class="mb-4 p-3 white" id="feature-catalog">
      <h2><%= @featured_catalog.title %> Catalog</h2>
      <%= link_to display_image(@featured_catalog), catalog_path(@featured_catalog.code) %>
      <p class="mt-2">
        <%= link_to "[PDF Version]", @featured_catalog.pdf.attachment if @featured_catalog.pdf.attached? %>
      </p>
    </div>
    <% end %>

    <% if @brochure.present? %>
    <div class="mb-4 p-3 white" id="feature-other">
      <h2><%= @brochure.title %></h2>
      <%= link_to @brochure.pdf.attachment do %>
        <%= display_image(@brochure) %>
        <p class="mt-2">[PDF]</p>
      <% end %>
    </div>
    <% end %>

    <div class="p-3 pb-5 white" id="feature-philly">
      <h2><%= t("tupress.webpages.index.philly") %></h2>
      <%= link_to subject_path(@philly.code) do %>
        <%= image_pack_tag "phila.jpg" %>
      <% end %>
    </div>
  </div>
</div>

</div>
