<div class="container px-0 px-lg-3 index" id="search-results">
	<div class="row">
		<div class="col">
			<h1 class="my-4">You searched for: <small><%= params[:q] %></small></h1>
		</div>
	</div>
	<% if @results.present? %>
	<div class="row">
		<% if @books.present? %>
		<div class="col-12 col-lg-7">

			<h2 class="gold mt-3 mx-1 d-none d-lg-block">Book Results</h2>
      <%= button_tag("", 
        :class=>"btn btn-lg btn-secondary dropdown-toggle pl-0 text-center gold w-100 d-lg-none", 
        :type=>"button",
        :'data-toggle'=>"collapse",
        :'data-target'=>"#book-results",
        :'aria-controls'=>"book-results",
        :'aria-expanded'=>"false",
        :'aria-label'=>"Toggle Book Results") do
        %>
        <span class="navbar-toggler-icon pt-0 text-center w-auto gold">Book Results</span>
      <% end %>

      <div class="d-none d-lg-flex mx-0 row pb-4 mb-4 book-results">
        <%= render "webpages/search/book_results" %>
      </div>
      <div class="d-lg-none collapse navbar-collapse" id="book-results">
        <%= render "webpages/search/book_results" %>
      </div>

		</div>
		<div class="col-12 col-lg-5 pl-lg-5 mt-3"> <!-- right column -->
		<% else %>
		<div class="col-12 mt-3"> <!-- right column -->
		<% end %>

		<% if @oabooks.present? %>
			<h2 class="gold mx-1 d-none d-lg-block">Open Access Books</h2>
      <%= button_tag("", 
        :class=>"btn btn-lg btn-secondary dropdown-toggle pl-0 mb-3 text-center gold w-100 d-lg-none", 
        :type=>"button",
        :'data-toggle'=>"collapse",
        :'data-target'=>"#open-access",
        :'aria-controls'=>"open-access",
        :'aria-expanded'=>"false",
        :'aria-label'=>"Toggle Open Access Books") do
        %>
        <span class="navbar-toggler-icon pt-0 text-center w-auto gold">Open Access Books</span>
      <% end %>

      <div class="d-none d-lg-flex mx-0 row pb-4 mb-4 open-access">
        <%= render "webpages/search/open_access" %>
      </div>
      <div class="d-lg-none collapse navbar-collapse" id="open-access">
        <%= render "webpages/search/open_access" %>
      </div>
		<% end %>

		<% if @journals.present? %>
			<h2 class="gold mx-1 d-none d-lg-block">Journals</h2>
      <%= button_tag("", 
        :class=>"btn btn-lg btn-secondary dropdown-toggle pl-0 mb-3 text-center gold w-100 d-lg-none", 
        :type=>"button",
        :'data-toggle'=>"collapse",
        :'data-target'=>"#journals",
        :'aria-controls'=>"journals",
        :'aria-expanded'=>"false",
        :'aria-label'=>"Toggle Journals") do
        %>
        <span class="navbar-toggler-icon pt-0 text-center w-auto gold">Journals</span>
      <% end %>

      <div class="d-none d-lg-flex mx-0 row pb-4 mb-4 journals">
        <%= render "webpages/search/journals" %>
      </div>
      <div class="d-lg-none collapse navbar-collapse" id="journals">
        <%= render "webpages/search/journals" %>
      </div>
		<% end %>

    <% if @confevents.present? %>
      <h2 class="gold mx-1 d-none d-lg-block">Conferences/Events</h2>
      <%= button_tag("", 
        :class=>"btn btn-lg btn-secondary dropdown-toggle pl-0 mb-3 text-center gold w-100 d-lg-none", 
        :type=>"button",
        :'data-toggle'=>"collapse",
        :'data-target'=>"#confevents",
        :'aria-controls'=>"confevents",
        :'aria-expanded'=>"false",
        :'aria-label'=>"Toggle Conferences and Events") do
        %>
        <span class="navbar-toggler-icon pt-0 text-center w-auto gold">Conferences/Events</span>
      <% end %>

      <div class="d-none d-lg-flex mx-0 row pb-4 mb-4 confevents">
        <%= render "webpages/search/confevents" %>
      </div>
      <div class="d-lg-none collapse navbar-collapse" id="confevents">
        <%= render "webpages/search/confevents" %>
      </div>
    <% end %>

    <% if @people.present? %>
      <h2 class="gold mx-1 d-none d-lg-block">People @ the Press</h2>
      <%= button_tag("", 
        :class=>"btn btn-lg btn-secondary dropdown-toggle pl-0 mb-3 text-center gold w-100 d-lg-none", 
        :type=>"button",
        :'data-toggle'=>"collapse",
        :'data-target'=>"#people",
        :'aria-controls'=>"people",
        :'aria-expanded'=>"false",
        :'aria-label'=>"Toggle People @ the Press") do
        %>
        <span class="navbar-toggler-icon pt-0 text-center w-auto gold">People @ the Press</span>
      <% end %>

      <div class="d-none d-lg-flex mx-0 row pb-4 mb-4 confevents">
        <%= render "webpages/search/people" %>
      </div>
      <div class="d-lg-none collapse navbar-collapse" id="confevents">
        <%= render "webpages/search/people" %>
      </div>
    <% end %>

    <% if @authors.present? %>
      <h2 class="gold mx-1 d-none d-lg-block">Authors</h2>
      <%= button_tag("", 
        :class=>"btn btn-lg btn-secondary dropdown-toggle pl-0 mb-3 text-center gold w-100 d-lg-none", 
        :type=>"button",
        :'data-toggle'=>"collapse",
        :'data-target'=>"#people",
        :'aria-controls'=>"people",
        :'aria-expanded'=>"false",
        :'aria-label'=>"Toggle Authors") do
        %>
        <span class="navbar-toggler-icon pt-0 text-center w-auto gold">Authors</span>
      <% end %>

      <div class="d-none d-lg-flex mx-0 row pb-4 mb-4 confevents">
        <%= render "webpages/search/authors" %>
      </div>
      <div class="d-lg-none collapse navbar-collapse" id="confevents">
        <%= render "webpages/search/authors" %>
      </div>
    <% end %>

    <% if @subjects.present? %>
      <h2 class="gold mx-1 d-none d-lg-block">Subject Areas</h2>
      <%= button_tag("", 
        :class=>"btn btn-lg btn-secondary dropdown-toggle pl-0 mb-3 text-center gold w-100 d-lg-none", 
        :type=>"button",
        :'data-toggle'=>"collapse",
        :'data-target'=>"#subjects",
        :'aria-controls'=>"subjects",
        :'aria-expanded'=>"false",
        :'aria-label'=>"Toggle Subject Areas") do
        %>
        <span class="navbar-toggler-icon pt-0 text-center w-auto gold">Subject Areas</span>
      <% end %>

      <div class="d-none d-lg-flex mx-0 row pb-4 mb-4 subjects">
        <%= render "webpages/search/subjects" %>
      </div>
      <div class="d-lg-none collapse navbar-collapse" id="subjects">
        <%= render "webpages/search/subjects" %>
      </div>
    <% end %>

    <% if @series.present? %>
      <h2 class="gold mx-1 d-none d-lg-block">Series</h2>
      <%= button_tag("", 
        :class=>"btn btn-lg btn-secondary dropdown-toggle pl-0 mb-3 text-center gold w-100 d-lg-none", 
        :type=>"button",
        :'data-toggle'=>"collapse",
        :'data-target'=>"#series",
        :'aria-controls'=>"series",
        :'aria-expanded'=>"false",
        :'aria-label'=>"Toggle Series") do
        %>
        <span class="navbar-toggler-icon pt-0 text-center w-auto gold">Series</span>
      <% end %>

      <div class="d-none d-lg-flex mx-0 row pb-4 mb-4 series">
        <%= render "webpages/search/series" %>
      </div>
      <div class="d-lg-none collapse navbar-collapse" id="series">
        <%= render "webpages/search/series" %>
      </div>
    <% end %>

    <% if @faqs.present? %>
      <h2 class="gold mx-1 d-none d-lg-block">FAQs</h2>
      <%= button_tag("", 
        :class=>"btn btn-lg btn-secondary dropdown-toggle pl-0 mb-3 text-center gold w-100 d-lg-none", 
        :type=>"button",
        :'data-toggle'=>"collapse",
        :'data-target'=>"#faqs",
        :'aria-controls'=>"faqs",
        :'aria-expanded'=>"false",
        :'aria-label'=>"Toggle FAQs") do
        %>
        <span class="navbar-toggler-icon pt-0 text-center w-auto gold">FAQs</span>
      <% end %>

      <div class="d-none d-lg-flex mx-0 row pb-4 mb-4 faqs">
        <%= render "webpages/search/faqs" %>
      </div>
      <div class="d-lg-none collapse navbar-collapse" id="faqs">
        <%= render "webpages/search/faqs" %>
      </div>
    <% end %>

    <% if @site.present? %>
      <h2 class="gold mx-1 d-none d-lg-block">Other Results</h2>
      <%= button_tag("", 
        :class=>"btn btn-lg btn-secondary dropdown-toggle pl-0 mb-3 text-center gold w-100 d-lg-none", 
        :type=>"button",
        :'data-toggle'=>"collapse",
        :'data-target'=>"#site",
        :'aria-controls'=>"site",
        :'aria-expanded'=>"false",
        :'aria-label'=>"Toggle Other Results") do
        %>
        <span class="navbar-toggler-icon pt-0 text-center w-auto gold">Other Results</span>
      <% end %>

      <div class="d-none d-lg-flex mx-0 row pb-4 mb-4 site">
        <%= render "webpages/search/site" %>
      </div>
      <div class="d-lg-none collapse navbar-collapse" id="site" style="position:relative;top:-16px;">
        <%= render "webpages/search/site" %>
      </div>
    <% end %>


		</div>

  </div>
	<% else %>
	<div class="row">
		<div class="col text-center">
			<h2>No results</h2>
		</div>
	</div>
<% end %>
</div>