<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>
<div class="field-unit__field">
  <% if field.data.attached? &&  field.data.present? %>
	  <%= f.file_field field.attribute %>
    <%= link_to field.data.attachment.filename, url_for(field.data.attachment), disposition: "attachment" %>
    &nbsp;-&nbsp; 
    <%= link_to t("tupress.admin.actions.detach"), { action: :detach, field: (field.attribute) }, data: { confirm: t("tupress.default.fields.confirm") } %>
	<% else %>
	  <%= f.file_field field.attribute %> 
	<% end %>
</div>
