<div class="col-6">
  <div class="row mb-5">
    <div class="col col-3 col-lg-4">
      <%= link_to image_tag(oabook.thumb_image("image")), north_broad_book_path(oabook) if oabook.image.attached? %>
      <%= link_to image_pack_tag("default-book-cover-show.png"), north_broad_book_path(oabook) unless oabook.image.attached? %>
    </div>

    <div class="col col-9 col-lg-8">
        <%= link_to oabook.title, north_broad_book_path(oabook), style: "font-size: 1.25rem;display:block;" %>
        <%= "<em>#{oabook.subtitle}</em><br/>".html_safe if oabook.subtitle.present? %>
        <%= "#{oabook.author}<br/>".html_safe if oabook.author.present? %>
        <%= "<p class=\"mt-4\">#{oabook.supplemental}</p>".html_safe if oabook.supplemental.present? %>
    </div>
  </div>
</div>