<div class="container index mt-3 pt-3 oabook-home">

<% title t("tupress.oabooks.labor_studies.title") %>

<div class="row">
    <div class="col">
      <h1 class="mt-0 pt-0 text-center banner">
        <%= link_to (image_pack_tag 'neh_banner.jpg', alt: t("tupress.oabooks.labor_studies.title")), edit_url if current_user %>
        <%= image_pack_tag 'neh_banner.jpg', alt: t("tupress.oabooks.labor_studies.title") unless current_user %>
      </h1>
      <div class="mt-4 mx-3">
        <% if @page.present? %>
          <%= @page.body %>
          <p class="mt-4"><%= edit_intro(@page.id) %></p>
        <%  end %>
      </div>
  </div>
</div>

<div class="mt-2" style="border-top: solid #ccc 2px;"></div>

  <div class="neh-book row m-3">
    <% @oabooks.each do |oabook| %>
      <%= render "ls_book_list", oabook: oabook %>
    <% end if @oabooks.present? %>
  </div>

</div>