<div class="container mt-3 pt-3 oabook-home">

<% title t("tupress.oabooks.nbpress.title") %>

<div class="row">
    <div class="col">
      <h1 class="mt-0 pt-0 text-center banner">
        <%= link_to (image_pack_tag 'nbp_banner.jpg', alt: t("tupress.oabooks.nbpress.title")), edit_url if current_user %>
        <%= image_pack_tag 'nbp_banner.jpg', alt: t("tupress.oabooks.nbpress.title") unless current_user %>
      </h1>
      <div class="mt-4 mx-3">
        <% if @page.present? %>
          <%= @page.body %>
          <p class="mt-4"><%= edit_intro(@page.id) %></p>
        <%  end %>
      </div>
  </div>
</div>

<div class="mt-2" style="border-top: solid #ccc 2px;"></div>

  <div class="neh-book row m-5">
    <% @oabooks.each do |oabook| %>
      <%= render "nb_book_list", oabook: oabook %>
    <% end if @oabooks.present? %>
  </div>

</div>