 <div class="container show mt-3 pt-3">

 <div class="neh-book row mb-4">

  <div class="col-12 col-md-5 col-lg-4 text-center">
    <%= render "cover_image", oabook: @oabook %>
    <ul class="list-unstyled oabook-buttons">
      <li><%= link_to t("tupress.oabooks.online_epub"), @oabook.epub_link if @oabook.epub_link.present? %></li>
      <li><%= link_to t("tupress.oabooks.download.epub"), @oabook.epub, disposition: "attachment" if @oabook.epub.attached? %></li>
      <li><%= link_to t("tupress.oabooks.download.pdf"), @oabook.pdf, disposition: "attachment" if @oabook.pdf.attached? %></li>
      <li><%= link_to t("tupress.oabooks.download.mobi"), @oabook.mobi, disposition: "attachment" if @oabook.mobi.attached? %></li>
      <li><%= link_to t("tupress.oabooks.manifold_label"), manifold_link(@oabook.manifold) if @oabook.manifold.present? %></li>
      <li>
        <%= link_to t("tupress.oabooks.print_copy"), purchase_link(@oabook.print_isbn) if @oabook.pod.present? && @oabook.print_isbn.present? %> 
      </li>
    </ul>
  </div>

  <div class="col-12 col-md-7 col-lg-8">
    <h1><%= title_link(@oabook) %></h1>
      <%= "<em>#{@oabook.subtitle}</em><br/>".html_safe if @oabook.subtitle.present? %>
      <%= "#{@oabook.author}<br/>".html_safe if @oabook.author.present? %>
      <%= "#{@oabook.supplemental}<br/>".html_safe if @oabook.supplemental.present? %>
      <%= @oabook.edition if @oabook.edition.present? %>
    
    <div class="mt-4 oabook-description">
      <%= @oabook.description if @oabook.description.present? %>
    </div>
  </div>
  
</div>
</div>