 <div class="container mt-3 pt-3">

 <div class="neh-book row mb-4">

  <div class="col col-3">
  <%= link_to action: "edit", controller: "admin/oabooks", id: @oabook.id do %>
    <%= image_tag(@oabook.show_image("image"), class: "mb-4") %>
  <% end %>
    <ul class="list-unstyled oabook-buttons">
      <li><%= link_to t("tupress.oabooks.online_epub"), @oabook.epub_link if @oabook.epub_link.present? %></li>
      <li><%= link_to t("tupress.oabooks.download.epub"), @oabook.epub if @oabook.epub.attached? %></li>
      <li><%= link_to t("tupress.oabooks.download.pdf"), @oabook.pdf if @oabook.pdf.attached? %></li>
      <li><%= link_to t("tupress.oabooks.download.mobi"), @oabook.mobi if @oabook.mobi.attached? %></li>
      <li>
        <%= link_to t("tupress.oabooks.print_copy"), purchase_link(@oabook.print_isbn) if @oabook.pod.present? && @oabook.print_isbn.present? %> 
      </li>
    </ul>
  </div>

  <div class="col col-9">
    <h1><%= @oabook.title %></h1>
      <%= "<em>#{@oabook.subtitle}</em><br/>".html_safe if @oabook.subtitle.present? %>
      <%= "#{@oabook.author}<br/>".html_safe if @oabook.author.present? %>
      <%= "#{@oabook.supplemental}<br/>".html_safe if @oabook.supplemental.present? %>
      <%= @oabook.edition if @oabook.edition.present? %>
    
    <div class="mt-4 oabook-description">
      <%= @oabook.description if @oabook.description.present? %>
    </div>
  </div>
  
</div>
</div>