<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @author.title %>
</p>

<p>
  <strong>First name:</strong>
  <%= @author.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @author.last_name %>
</p>

<p>
  <strong>Prefix:</strong>
  <%= @author.prefix %>
</p>

<p>
  <strong>Suffix:</strong>
  <%= @author.suffix %>
</p>

<p>
  <strong>Author:</strong>
  <%= @author.author_id %>
</p>

<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %>
