<div class="container" id="conferences">

	<div class="row">
		<div class="col px-3 mt-4">
			<h1><%= title_link(t("tupress.conferences.title")) %></h1>
		</div>
	</div>

	<div class="row">
		<div class="col p-3">
			<% if @intro.present? %>
				<%= @intro.body %>
				<p class="mt-3"><%= edit_intro(@intro.id) %></p>
			<%  end %>
		</div>
	</div>

<% @conferences.each do |month, conferences| %>
	<div class="row">
		<div class="col-12 p-0 month">
			<h2><%= month %></h2>
		</div>
	</div>

	<div class="row" style="background-color:white;">
		<div class="col-12 px-3 conferences">
			<% conferences.each do |conference| %>
				<ul class="list-unstyled ml-4">
					<li>
						<%= title_link(conference.title, conference.id) unless conference.link.present? %>
						<%= link_to conference.title, conference.link if conference.link.present? %>
					</li>
					<%= "<li>#{conference.location}</li>".html_safe if conference.location.present? %>
					<%= "<li>#{conference.venue}</li>".html_safe if conference.venue.present? %>
					<%= "<li>#{conference.booth}</li>".html_safe if conference.booth.present? %>
					<%= "<li>#{dates(conference.start_date, conference.end_date)}</li>".html_safe if conference.start_date.present? %>
				</ul>
			<%= "<hr />".html_safe unless conference == conferences.last %>
			<% end %>
		</div>
	</div>
<% end if @conferences.present? %>

</div>
