<div class="container index" id="events">

	<div class="row">
		<div class="col px-3 mt-4 mb-3">
			<h1><%= title_link(t("tupress.events.title")) %></h1>
		</div>
	</div>
  
  <% @events.each do |events| %>
    <div class="row mt-2 mx-1">
      <div class="col-12 gold">
        <h2 class="pl-3 mb-0"><%= group_date(events[0]) %></h2>
      </div>
    </div>

    <div class="row mx-1">
      <div class="col-12 events">
        <% events[1].each do |event| %>
          <div class="row mb-3 event">
            <div class="col col-2 pt-5 start-date">

            <span><%= event.start_date.strftime("%d") %></span>
            </div>
            <div class="col col-10 pl-4 pt-3">
              <div class="event-title">
                <%= title_link(event) %>
              </div>
              <div class="dim">
                <span class="dates">
                  <%== date_range(event.start_date, event.end_date) %>
                </span>
                <%= event.time_zone if event.time_zone.present? %>
                <br />
                <%= event.location %>
                <p><%= event.description %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

</div>