<% for agency in agencies %>
<div class="row">
  <div class="col pl-5 mb-4 agency">
    <h3 style="font-size:125%;">
      <%= title_link(agency.title, agency.id) %>
    </h3>
    <ul class="list-unstyled">
      <%= "<li>#{agency.contact}</li>".html_safe if agency.contact.present? %>
      <%= "<li>#{agency.address}</li>" if agency.address.present? %>
      <%= "<li>#{agency.city}</li>".html_safe if agency.city.present? %>
      <%= "<li>#{agency.country}</li>".html_safe if agency.country.present? %>
      <%= "<li>#{agency.phone} (phone)</li>".html_safe if agency.phone.present? %>
      <%= "<li>#{agency.fax} (fax)</li>".html_safe if agency.fax.present? %>
      <%= "<li>#{mail_to agency.email, agency.email}</li>".html_safe if agency.email.present? %>
      <%= "<li>#{link_to agency.website, agency.website}</li>".html_safe if agency.website.present? %>
    </ul>
  </div>
</div>
<% end %>