<div class="container agencies">
  <div class="row">
    <div class="col mt-4">
      <h1 class="mb-4">
        <%= title_link(t("tupress.agencies.title")) %>
      </h1>
    </div>
  </div>

  <% @agencies.sort.each do |region, agencies| %>
    <div class="row" id="regions">
      <div class="col-12 p-0">
        <%= render "region", region: region %>
        <% agencies.each do |agency| %>
        <div class="row m-0">
          <div class="col pl-5 my-2 pt-3 agency">
            <h3 style="font-size:125%;">
              <%= title_link(agency) %>
            </h3>
            <ul class="list-unstyled">
              <%= "<li>#{agency.contact}</li>".html_safe if agency.contact.present? %>
              <% if agency.address.present? %>
                <li><%= agency.address %></li>
              <% end %>
              <%= "<li><strong>#{t("helpers.label.phone")}</strong>: #{agency.phone} (phone)</li>".html_safe if agency.phone.present? %>
              <%= "<li><strong>#{t("helpers.label.fax")}</strong>: #{agency.fax} (fax)</li>".html_safe if agency.fax.present? %>
              <%= "<li>#{mail_to agency.email, agency.email}</li>".html_safe if agency.email.present? %>
              <%= "<li>#{link_to agency.website, agency.website}</li>".html_safe if agency.website.present? %>
            </ul>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <% if @default_agency.present? %>
    <div class="row">
      <div class="col-12 px-0">
        <h2 class="pl-3">All Other Territories</h2> 
      </div>

      <div class="col-12 region mb-4">
        <div class="row">
          <%= render "default_agency" %>
        </div>
      </div>
    </div>
  <% end %>

</div>