<div class="container awards index">

  <div class="row">
    <div class="col-12 mt-3 px-0">
      <h1 class="my-3">
        <%= title_link(t("tupress.awards.index_title")) %>
      </h1>
    </div>
  </div>

  <div class="row featured_awards">
    <div class="col-12 px-0 gold navbar navbar-expand-md">
      <h2 class="d-none d-lg-block pl-3 gold">Recent Award Winners</h2>
      <%= button_tag("", 
								:class=>"navbar-toggler navbar-toggler-right gold w-100", 
								:type=>"button",
								:'data-toggle'=>"collapse",
								:'data-target'=>"#featured_awards",
								:'aria-controls'=>"featured_awards",
								:'aria-expanded'=>"false",
								:'aria-label'=>"Toggle Recent Award Winners") do
								%>
        <span>Recent Award Winners</span>
      <% end %>
    </div>
  </div>

  <div class="d-none d-lg-block row pb-4 mb-4 featured_awards">
    <%= render "featured_awards" %>
  </div>

  <div class="d-lg-none collapse navbar-collapse" id="featured_awards">
    <%= render "featured_awards" %>
  </div>

  <div class="row d-none">

    <div class="col-4 px-0 year-listing">
      <h2 class="gold pl-3">Awards by Year</h2>
      <ul class="list-unstyled p-3">
      <% @awards_by_year.each do |year| %>  
        <li><%= link_to year, awards_by_year_path(year) %></li>
      <% end %>
      </ul>
    </div>

    <div class="col-8 pl-5 pr-0 subject-listing">
      <h2 class="gold pl-3">Awards by Subject</h2>
      <ul class="list-unstyled p-3">
      <% @awards_by_subject.each do |subject| %>
        <li><%= link_to subject.title, awards_by_subject_path(subject) %></li>
      <% end %>
      </ul>
    </div>

  </div>

</div>