<div class="container awards index">

  <div class="row">
    <div class="col-12 mt-3 px-0">
      <h1 class="my-3">
        <%= title_link(t("tupress.awards.index_title")) %>
      </h1>
    </div>
  </div>

  <div class="row featured_awards">
    <div class="col-12 px-0">
      <h2 class="pl-3 gold">Recent Award Winners</h2>
    </div>
  </div>

  <div class="row pb-4 mb-4 featured_awards" >
      <% @recent_winners.each do |book| %>
      <div class="col-3 pt-4 pb-0 text-center">
        <%= link_to book_path(book) do %>
          <% if book.cover_image.attached? %>
            <%= image_tag book.custom_image("cover_image", 180, 280) %>
          <% else %>
            <%= image_pack_tag "default-book-cover-index.png", style: "outline: solid #ccc 1px" %>
          <% end %>        
          <p class="pt-2 mb-0"><%= strip_tags book.title %></p>
        <% end %>
      </div>
      <% end if @recent_winners %>
  </div>

  <div class="row">

    <div class="col-4 px-0 year-listing">
      <h2 class="gold pl-3">Awards by Year</h2>
      <ul class="list-unstyled p-3">
      <% @awards_by_year.each do |year| %>  
        <li><%= link_to year, awards_by_year_path(year) %></li>
      <% end %>
      </ul>
    </div>

    <div class="col-8 pl-5 pr-0 subject-listing">
      <h2 class="gold pl-3">Awards by Subject</h2>
      <ul class="list-unstyled p-3">
      <% @awards_by_subject.each do |subject| %>
        <li><%= link_to subject.title, awards_by_subject_path(subject) %></li>
      <% end %>
      </ul>
    </div>

  </div>

</div>