<div class="container awards index">

  <div class="row">
    <div class="col-12 mt-3 px-0">
      <h1 class="my-3">
        <%= title_link(t("tupress.awards.index_title")) %>
      </h1>
    </div>
  </div>

  <div class="row featured_awards">
    <div class="col-12 px-0 gold text-center navbar navbar-expand-md">
      <h2 class="d-none d-lg-block pl-3 gold">Recent Award Winners</h2>
      <%= button_tag("", 
								:class=>"btn btn-lg btn-secondary dropdown-toggle disabled pl-0 text-center w-100", 
								:type=>"button",
								:'data-toggle'=>"collapse",
								:'data-target'=>"#featured_awards",
								:'aria-controls'=>"featured_awards",
								:'aria-expanded'=>"false",
								:'aria-label'=>"Toggle Recent Award Winners") do
								%>
        <span class="navbar-toggler-icon pt-0 text-center w-auto gold">Recent Award Winners</span>
      <% end %>
    </div>
  </div>

  <div class="d-none d-lg-block row pb-4 mb-4 featured_awards">
    <%= render "featured_awards" %>
  </div>

  <div class="d-lg-none collapse navbar-collapse" id="featured_awards">
    <%= render "featured_awards" %>
  </div>

  <div class="row">

    <div class="col-12 col-lg-4 px-0 year-listing gold">
      <h2 class="d-none d-md-block gold pl-3">Awards by Year</h2>
        <%= button_tag("", 
            :class=>"btn btn-lg btn-secondary dropdown-toggle disabled pl-0 text-center w-100", 
            :type=>"button",
            :'data-toggle'=>"collapse",
            :'data-target'=>"#awards_by_year",
            :'aria-controls'=>"awards_by_year",
            :'aria-expanded'=>"false",
            :'aria-label'=>"Toggle Awards by Year") do
            %>
          <span class="navbar-toggler-icon pt-0 text-center w-auto gold">Awards by Year</span>
        <% end %>

        <div class="d-none d-lg-block row pb-4 mb-4 awards_by_year">
          <%= render "awards_by_year" %>
        </div>

        <div class="d-lg-none collapse navbar-collapse" id="awards_by_year">
          <%= render "awards_by_year" %>
        </div>
    </div>

    <div class="col-12 col-lg-8 pl-lg-5 px-0 pr-0 subject-listing gold">
      <h2 class="d-none d-md-block gold pl-3">Awards by Subject</h2>
          <%= button_tag("", 
            :class=>"btn btn-lg btn-secondary dropdown-toggle disabled pl-0 text-center w-100", 
            :type=>"button",
            :'data-toggle'=>"collapse",
            :'data-target'=>"#awards_by_subject",
            :'aria-controls'=>"awards_by_subject",
            :'aria-expanded'=>"false",
            :'aria-label'=>"Toggle Awards by Subject") do
            %>
          <span class="navbar-toggler-icon pt-0 text-center w-auto gold">Awards by Subject</span>
        <% end %>


    <div class="d-none d-lg-block row pb-4 mb-4 awards_by_subject">
      <%= render "awards_by_subject" %>
    </div>

    <div class="d-lg-none collapse navbar-collapse" id="awards_by_subject">
      <%= render "awards_by_subject" %>
    </div>

    </div>

  </div>

</div>