 <div class="container index study-guides">
  <div class="row">
    <div class="col-12 mb-3 mt-3 px-0">
      <h1 class="my-3">
      <%= title_link(t("tupress.study_guides.title")) %>
      </h1>
    </div>
  </div>

  <% @books.each do |book| %>  
  <div class="row pb-4 mb-4 book-listing">
    <div class="col-2 pl-0">
      <%= link_to study_guide_path(book) do %>
        <% if book.cover_image.attached? %>
          <%= image_tag book.thumb_image("cover_image") %>
        <% else %>
          <%= image_pack_tag "default-book-cover-index.png" %>
        <% end %>
      <% end %>
    </div>
    <div class="col-10 p-4 pl-0 book-details">
      <h2><%= link_to book.title.html_safe, study_guide_path(book) %></h2>
      <%= sanitize("<p><em>#{book.subtitle}</em></p>").html_safe if book.subtitle.present? %>
      <%= sanitize("<p>#{book.author_byline}</p>").html_safe if book.author_byline.present? %>
      <%= link_to guide_label(book), book.guide_file.attachment if book.guide_file.attached? %>
    </div>

  </div>
  <% end %>
</div>
