<div class="container show study-guides">
  <div class="row">
    <div class="col-12 my-3">
      <h1 class="mt-2">
        <%= title_link(t("tupress.study_guide.title")) %>
      </h1>
    </div>
  </div>

  <div class="row pb-4 mb-4">
    <div class="col-12 col-md-4 col-lg-3 pl-0 py-3 text-center">
      <%= link_to book_path(@book) do %>
        <% if @book.cover_image.attached? %>
          <%= image_tag @book.index_image("cover_image"), class: "cover-image" %>
        <% else %>
          <%= image_tag "default-book-cover-index.png" %>
        <% end %>
      <% end %>
    </div>
    <div class="col-12 col-md-8 col-lg-9 px-4 pl-0 pb-4 text-center text-md-left">
      <h2><%= link_to @book.title.html_safe, book_path(@book) %></h2>
      <%= ("<p><em>#{@book.subtitle}</em></p>").html_safe if @book.subtitle.present? %>
      <%= ("<p>#{@book.author_byline}</p>").html_safe if @book.author_byline.present? %>
      <p class="pdf-link"><%= link_to guide_label(@book), @book.guide_file.attachment if @book.guide_file.attached? %></p>

      <div class="guide-wrapper mt-4 pt-1 pl-4 pr-2 pb-3">
        <div class="guide-text text-left">
          <%= @book.guide_text if @book.guide_text %>
        </div>
      </div>
    </div>
  </div>
</div>
