<ul class="list-unstyled">
  <li><%= link_to t("tupress.default.menu.books.awards"), awards_path, :class=>"dropdown-item" %></li>
  <li><%= link_to t("tupress.default.menu.books.by_title"), books_path, :class=>"dropdown-item" %></li>
  <li><%= link_to t("tupress.default.menu.books.by_author"), authors_path, :class=>"dropdown-item" %></li>
  <li><%= link_to t("tupress.default.menu.books.subjects"), subjects_path, :class=>"dropdown-item" %></li>
  <li><%= link_to t("tupress.default.menu.books.catalogs"), catalogs_path, :class=>"dropdown-item" %></li>
  <li><%= link_to t("tupress.default.menu.books.series"), series_index_path, :class=>"dropdown-item" %></li>
  <li><%= link_to t("tupress.default.menu.books.offers"), special_offers_path, :class=>"dropdown-item" %></li>
  <li><%= link_to t("tupress.default.menu.books.guides"), study_guides_path, :class=>"dropdown-item" %></li>
  <li><%= link_to t("tupress.default.menu.books.adoptions"), course_adoptions_path, :class=>"dropdown-item" %></li>
</ul>
