<ul class="list-unstyled">
  <li><%= link_to t("tupress.default.menu.events.inquiries"), root_path+["forms", "media-inquiries"].join("/"), :class=>"dropdown-item" %></li>
  <li><%= link_to t("tupress.default.menu.events.podcast"), t("tupress.default.menu.events.podcast_link"), :class=>"dropdown-item" %></li>
  <li><%= link_to t("tupress.default.menu.events.blog"), "#", :class=>"dropdown-item" %></li>
  <li><%= link_to t("tupress.default.menu.events.conferences"), conferences_path, :class=>"dropdown-item" %></li>
  <li><%= link_to t("tupress.default.menu.events.events"), events_path, :class=>"dropdown-item" %></li>
  <li><%= link_to t("tupress.default.menu.events.offers"), special_offers_path, :class=>"dropdown-item" %></li>
</ul>
