<div class="container form">
  <div class="row">
    <div class="col-12 col-lg-9">

      <div class="row">
        <div class="col">
          <h1 class="mt-3"><%= title t("tupress.forms.#{@type}.title").html_safe %></h1>
        </div>
      </div>

      <div class="row">
        <div class="col">
        <% if @book.present? %>
          <div class="flash alert notice">
            <strong><%= @book.title.html_safe %></strong> 
            <%= t("tupress.forms.copy-request.preselect-text") %>
          </div>
        <% end %>
          <div class="form-intro">
            <%= @intro.body if @intro.present? %>
          </div>
        </div>
      </div>

      <%= simple_form_for @form, html: {class: "form-horizontal", enctype: "multipart" } do |f| %>
      <%= f.input :form_type, as: :hidden, input_html: { value: "#{@type}" } %>

      <% if @type == "copy-request" %>
        <div class="row">
          <div class="col">
            <fieldset class="bordered">
              <legend><%= t("manifold.forms.shared.request_info") %></legend>
              <%= render "forms/#{@type}/request-info", f: f %>
            </fieldset>
          </div>
        </div>
        
        <div class="row">
          <div class="col">
            <fieldset class="bordered">
              <legend><%= t("manifold.forms.shared.your_info") %></legend>
              <%= render "forms/#{@type}/personal_info", f: f %>
            </fieldset>
          </div>
        </div>
      <% else %>
        <div class="row">
          <div class="col">
            <fieldset class="bordered">
              <legend><%= t("manifold.forms.shared.your_info") %></legend>
              <%= render "forms/#{@type}/personal_info", f: f %>
            </fieldset>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <fieldset class="bordered">
              <legend><%= t("manifold.forms.shared.request_info") %></legend>
              <%= render "forms/#{@type}/request-info", f: f %>
            </fieldset>
          </div>
        </div>
      <% end %>

        <div class="row">
          <div class="col">
            <%= recaptcha_tags %>
            <% binding.pry %>
            <% flash.each do |key, value| %>
              <div class="flash <%= key %> mt-3"><%= value %></div>
            <% end %>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col">
            <%= f.button :submit, "Submit", class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>

      <div class="form-footer">
        <%= @footer.body if @footer.present? %>
      </div>
    </div>
  </div>
</div>
