<div class="field-unit__label">
  <%= f.label "Image Upload" %>
</div>
<div class="field-unit__field">
	<% if field.data.attached? %>
	  <%= image_tag field.data %><br />
    <%= f.file_field field.attribute %>
    <%= link_to t("tupress.admin.actions.detach"), { action: :detach }, data: { confirm: t("tupress.default.fields.confirm") } %>
  <% else %>
	  <%= f.file_field field.attribute %>
   
	<% end %>
</div>
