<div id="site-footer" class="mt-5">
<div class="container pt-3">
  <div class="row">

    <div class="col col-7">
			<address>
				<h2>Temple University Press</h2>
					<span>
						1900 N. 13th Street
						<br />Philadelphia, PA 19122
					</span>

				<div class="delivery-label">For Deliveries:</div>
					<span>
						1340 W. Norris Street
						<br />Philadelphia, PA 19122
						<br />
						<br />215-204-8787
						<br />215-204-2142 (fax)
					</span>
			</address>

		</div>


		<div class="col col-2 offset-3">
			<ul class="list-unstyled">
				<li class="list-inline-item">
					<%= link_to image_pack_tag('wp.png', class: 'social-icon', alt: 'Wordpress Icon'), 'https://templepress.wordpress.com' %>
				</li>
				<li class="list-inline-item">
					<%= link_to image_pack_tag('twitter-icon.png', class: 'social-icon', alt: 'Twitter Icon', style: 'width:29px'), 'http://twitter.com/TempleUnivPress' %>
				</li>
				<li class="list-inline-item">
					<%= link_to image_pack_tag('fb-icon.png', class: 'social-icon', alt: 'Facebook Icon'), 'http://facebook.com/TempleUnivPress' %>
				</li>
			</ul>
			<nav role="navigation">
				<ul class="list-unstyled text-left">
					<li><a href="http://temple.edu">Temple University</a></li>
					<li><a href="/people">People at the Press</a></li>
					<li><a href="/contact">Contact</a></li>
					<li>
						<%= link_to (image_pack_tag "gear.png",
													class: "decorative", 
													id: "login-link",
													alt: "login link"), admin_root_path unless current_user %>

						<%= link_to (image_pack_tag "gear.png",
													class: "decorative", 
													id: "login-link",
													alt: "login link"), destroy_user_session_path, method: :delete if current_user %>
					</li>
				</ul>
			</nav>
		</div>

	</div> 

	<div class="row">
		<div class="col col-12 text-center mt-4">
			<p style="">
				<small><%= link_to "© 2006-2021 Temple University", "#" %> 
				| All Rights Reserved</small>
			</p>
		</div>
	</div>

</div>
</div>
