<div id="header-background">
  <div id="header-navbar" class="container navbar navbar-static-top d-print-block" role="navigation">
    <div class="col-8 col-sm-7 col-lg-4 logo-container text-left ">
      <%= link_to image_pack_tag('TUPress_2C_Red_Black.png', alt: "Temple University Press"),
                    root_path, class: "header-name", id: "header-logo" unless current_user %>
      <%= link_to (image_pack_tag 'TUPress_2C_Red_Black.png', alt: "Temple University Press"), admin_url if current_user %>
    </div>

      <%= render "header-search" %>
  </div>

  <div id="wrapper">

    <div class="row d-none d-sm-none d-md-none d-lg-block text-center" id="main-menu">
      <div class="nav nav-fill">

        <div class="btn-group ml-2 dropdown nav-item">
          <%= menu_button(t("tupress.default.menu.books.title")) %>
          <div class="dropdown-menu p-2" aria-labelledby="navbarDropdownMenuLink">
            <ul class="list-unstyled">
              <li><%= link_to t("tupress.default.menu.books.awards"), awards_path, :class=>"dropdown-item" %></li>
              <li><%= link_to t("tupress.default.menu.books.by_title"), books_path, :class=>"dropdown-item" %></li>
              <li><%= link_to t("tupress.default.menu.books.by_author"), authors_path, :class=>"dropdown-item" %></li>
              <li><%= link_to t("tupress.default.menu.books.subjects"), subjects_path, :class=>"dropdown-item" %></li>
              <li><%= link_to t("tupress.default.menu.books.catalogs"), catalogs_path, :class=>"dropdown-item" %></li>
              <li><%= link_to t("tupress.default.menu.books.series"), series_index_path, :class=>"dropdown-item" %></li>
              <li><%= link_to t("tupress.default.menu.books.offers"), special_offers_path, :class=>"dropdown-item" %></li>
              <li><%= link_to t("tupress.default.menu.books.guides"), study_guides_path, :class=>"dropdown-item" %></li>
              <li><%= link_to t("tupress.default.menu.books.adoptions"), course_adoptions_path, :class=>"dropdown-item" %></li>
            </ul>
          </div>
        </div>

        <div class="btn-group ml-2 dropdown nav-item">
          <%= menu_button(t("tupress.default.menu.open_access.title")) %>
          <div class="dropdown-menu p-2" x-placement="bottom-start">
            <ul class="list-unstyled">
              <% @journals.each do |i| %>
                <li><%= link_to i.title, i.url, :class=>"dropdown-item" if i.url.present? && i.title == t("tupress.default.menu.journals.commonwealth") %></li>
              <% end %>
              <li><%= link_to t("tupress.default.menu.open_access.nbp"), north_broad_path, :class=>"dropdown-item" %></li>
              <li><%= link_to t("tupress.default.menu.open_access.lsw"), labor_studies_path, :class=>"dropdown-item" %></li>
              <li><%= link_to t("tupress.default.menu.open_access.manifold_label"), t("tupress.default.menu.open_access.manifold_link"), :class=>"dropdown-item" %></li>
            </ul>
          </div>
        </div>

        <div class="btn-group ml-2 dropdown nav-item">
          <%= menu_button(t("tupress.default.menu.journals.title")) %>
          <div class="dropdown-menu p-2" x-placement="bottom-start">
            <ul class="list-unstyled">
              <% @journals.each do |i| %>
                <li><%= link_to i.title, i.url, :class=>"dropdown-item" if i.url.present? %></li>
              <% end %>
            </ul>
          </div>
        </div>

        <div class="btn-group ml-2 dropdown nav-item">
          <%= menu_button(t("tupress.default.menu.press_info.title")) %>
          <div class="dropdown-menu p-2" x-placement="bottom-start">
            <ul class="list-unstyled">
              <li><%= link_to t("tupress.default.menu.press_info.about"), root_path+"press-info", :class=>"dropdown-item" %></li>
              <li><%= link_to t("tupress.default.menu.press_info.people"), people_path, :class=>"dropdown-item" %></li>
              <li><%= link_to t("tupress.default.menu.press_info.rights"), root_path+["forms", "rights-permissions"].join("/"), :class=>"dropdown-item" %></li>
              <li><%= link_to t("tupress.default.menu.press_info.agents"), agencies_path, :class=>"dropdown-item" %></li>
              <li><%= link_to t("tupress.default.menu.press_info.submissions"), root_path+"submissions", :class=>"dropdown-item" %></li>
              <li><%= link_to t("tupress.default.menu.press_info.presses"), root_path+"university-presses", :class=>"dropdown-item" %></li>
              <li><%= link_to t("tupress.default.menu.press_info.download"), documents_path, :class=>"dropdown-item" %></li>
              <li><%= link_to t("tupress.default.menu.press_info.faq"), faqs_path, :class=>"dropdown-item" %></li>
            </ul>
          </div>
        </div>

          <div class="btn-group ml-2 dropdown nav-item">
          <%= menu_button(t("tupress.default.menu.orders.title")) %>
            <div class="dropdown-menu p-2" x-placement="bottom-start">
              <ul class="list-unstyled">
                <li><%= link_to t("tupress.default.menu.orders.info"), root_path+"order", :class=>"dropdown-item" %></li>
                <li><%= link_to t("tupress.default.menu.orders.terms"), root_path+"payment", :class=>"dropdown-item" %></li>
                <li><%= link_to t("tupress.default.menu.orders.copy-request"), root_path+["forms", "copy-request"].join("/"), :class=>"dropdown-item" %></li>
                <li><%= link_to t("tupress.default.menu.orders.review-request"), root_path+["forms", "review-copy"].join("/"), :class=>"dropdown-item" %></li>
                <li><%= link_to t("tupress.default.menu.orders.reps"), sales_reps_path, :class=>"dropdown-item" %></li>
              </ul>
            </div>
          </div>

          <div class="btn-group ml-2 dropdown nav-item">
          <%= menu_button(t("tupress.default.menu.news.title")) %>
            <div class="dropdown-menu p-2" x-placement="bottom-start">
              <ul class="list-unstyled">
                <li><%= link_to t("tupress.default.menu.news.inquiries"), root_path+["forms", "media-inquiries"].join("/"), :class=>"dropdown-item" %></li>
                <li><%= link_to t("tupress.default.menu.news.podcast"), t("tupress.default.menu.news.podcast_link"), :class=>"dropdown-item" %></li>
                <li><%= link_to t("tupress.default.menu.news.blog"), "#", :class=>"dropdown-item" %></li>
                <li><%= link_to t("tupress.default.menu.news.conferences"), conferences_path, :class=>"dropdown-item" %></li>
                <li><%= link_to t("tupress.default.menu.news.events"), events_path, :class=>"dropdown-item" %></li>
                <li><%= link_to t("tupress.default.menu.news.offers"), special_offers_path, :class=>"dropdown-item" %></li>
              </ul>
            </div>
          </div>

          <div class="btn-group ml-2 dropdown nav-item">
            <%= button_to t("tupress.default.menu.faq.title"), faqs_path, 
                {
                  class: "btn btn-lg btn-secondary dropdown-toggle faq-button", 
                  "aria-haspopup" => "false", "aria-expanded" => "false",
                  method: :get
                } %>
          </div>
      </div>
    </div>
    <div class="row d-block d-sm-block d-md-block d-lg-none text-center" id="mobile-search-container">
      <%= render "mobile-search" %>
    </div>

    <div class="row d-block d-sm-block d-md-block d-lg-none" id="mobile-nav">
      <%= render "mobile-nav" %>
    </div>

  </div>
</div>
