<div id="header-background">
  <div id="header-navbar" class="container navbar navbar-static-top d-print-block" role="navigation">
    <div class="col-8 col-sm-7 col-lg-4 logo-container text-left ">
      <%= link_to image_tag('TUPress_2C_Red_Black.png', alt: "Temple University Press"),
                    root_path, class: "header-name", id: "header-logo" unless current_user %>
      <%= link_to (image_tag 'TUPress_2C_Red_Black.png', alt: "Temple University Press"), admin_url if current_user %>
    </div>

      <%= render "header-search" %>
  </div>

  <div id="wrapper">

    <div class="row d-none d-sm-none d-md-none d-lg-block text-center" id="main-menu">
      <div class="nav nav-fill">

        <div class="btn-group ml-2 dropdown nav-item">
          <%= menu_button(t("tupress.default.menu.books.title")) %>
          <div class="dropdown-menu p-2" aria-labelledby="navbarDropdownMenuLink">
            <%= render "application/menus/books_menu" %>
          </div>
        </div>

        <div class="btn-group ml-2 dropdown nav-item">
          <%= menu_button(t("tupress.default.menu.open_access.title")) %>
          <div class="dropdown-menu p-2" aria-labelledby="navbarDropdownMenuLink">
            <%= render "application/menus/oa_menu" %>
          </div>
        </div>

        <div class="btn-group ml-2 dropdown nav-item">
          <%= menu_button(t("tupress.default.menu.journals.title")) %>
          <div class="dropdown-menu p-2" aria-labelledby="navbarDropdownMenuLink">
            <%= render "application/menus/journals_menu" %>
          </div>
        </div>

        <div class="btn-group ml-2 dropdown nav-item">
          <%= menu_button(t("tupress.default.menu.press_info.title")) %>
          <div class="dropdown-menu p-2" aria-labelledby="navbarDropdownMenuLink">
            <%= render "application/menus/press_menu" %>
          </div>
        </div>

          <div class="btn-group ml-2 dropdown nav-item">
            <%= menu_button(t("tupress.default.menu.orders.title")) %>
            <div class="dropdown-menu p-2" aria-labelledby="navbarDropdownMenuLink">
              <%= render "application/menus/orders_menu" %>
            </div>
          </div>

          <div class="btn-group ml-2 dropdown nav-item">
            <%= menu_button(t("tupress.default.menu.events.title")) %>
            <div class="dropdown-menu p-2" aria-labelledby="navbarDropdownMenuLink">
              <%= render "application/menus/events_menu" %>
            </div>
          </div>

          <div class="btn-group ml-2 dropdown nav-item">
            <%= button_to t("tupress.default.menu.faq.title"), faqs_path, 
                {
                  class: "btn btn-lg btn-secondary dropdown-toggle faq-button", 
                  "aria-haspopup" => "false", "aria-expanded" => "false",
                  method: :get
                } %>
          </div>
      </div>
    </div>
    <div class="row d-block d-sm-block d-md-block d-lg-none text-center" id="mobile-search-container">
      <%= render "mobile-search" %>
    </div>

    <div class="row d-block d-sm-block d-md-block d-lg-none" id="mobile-nav">
      <%= render "mobile-nav" %>
    </div>

  </div>
</div>
