<div class="container" id="search-results">
	<div class="row">
		<div class="col">
			<h1>Search Results for: <small><%= params[:q] %></small></h1>
		</div>
	</div>
	<div class="row">
		<div class="col-7">
			<h2>Book Results</h2>
			<% unless @books.blank? %>

			<% @books.each do |book| %>

			<div class="row book-row">
				<div class="media">
					<%= link_to image_tag(book.index_image("cover_image"), class: 'd-flex mr-3'), book_path(book) if book.cover_image.attached? %>
				</div>
				<div class="media-body">
					<h2><%= link_to book.title.html_safe, book_path(book) %>
						<% unless book.subtitle.blank? %>
							<p class="subtitle"><%= book.subtitle.html_safe %>
						<% end %>
						<% unless book.edition.blank? %>
							<br /><%= book.edition.html_safe %>
						<% else %>
							</p>
						<% end %>
					</h2>
					<p class="author"><%= book.author_byline %></p>					
				</div>
			</div>
			<% end %>
		<% else %>
			<p style="padding-left: 35px;">No results found</p>
		<% end %>
		</div>

		<div class="col-4 offset-1">
			<% unless @oabooks.blank? %>
			<h2>Open Access Books</h2>
			<ul>
				<% @oabooks.each do |book| %>
					<li><%= link_to book.title, oabook_path(book) %></li>
				<% end %>
			</ul>
			<% end %>


		<% unless @confevents.blank? && @journals.blank? %>
			<h2>Other Results</h2>

			<% unless @journals.blank? %>
			<h2>Journals</h2>
			<ul>
				<% @journals.each do |journal| %>
					<li><%= link_to journal.title, journal.url %></li>
				<% end %>
			</ul>
			<% end %>

			<% unless @confevents.blank? %>
			 <h2>Conferences and Events</h2>
			 <ul>
				<% @confevents.each do |confevent| %>
					<li>
						<%= link_to confevent.title, events_path if confevent.class == "event" %>
						<%= link_to confevent.title, conferences_path if confevent.class == "conference" %>
					</li>
				<% end %>
			</ul>
			<% end %>
			<% else %>
					<p style="padding-left: 35px;">No results found</p>
			<% end %>

			<% unless @people.blank? %>
				<h2>People @ the Press</h2>
				<ul>
					<% @people.each do |person| %>
						<% unless person.department == "Sales Reps" %>
							<li><%= link_to person.title, {controller: "people", action: "index"} %><br />
								<small style="font-style:italic;"><%= person.position %></small></li>
						<% else %>
							<li><%= link_to person.title, sales_reps_path %><br />
							<small style="font-style:italic;">
								<% if person.region.to_i >= 10  %>
									<%= get_region(person.region) %>
								<% else %>
									<%= person.region %>
								<% end %>
							</small>
						</li>
						<% end %>
					<% end %>
				</ul>
			<% end %>

			<% unless @subjects.blank? %>
			<h2>Subjects Areas</h2>
			<ul>
				<% @subjects.each do |subject| %>
					<li><%= link_to subject.title, subject_path(subject) %></li>
				<% end %>
			</ul>
			<% end %>

			<% unless @series.blank? %>
			<h2>Series</h2>
			<ul>
				<% @series.each do |series| %>
					<li><%= link_to series.title, series_path(series) %></li>
				<% end %>
			</ul>
			<% end %>


		</div>

  </div>

</div>