<div class="container series show">

<div class="row mb-3">
  <div class="col-12 mt-3">
    <h1 class="mt-3">
      <%= title_link(@series) %>
    </h1>
  </div>
</div>

<div class="row mb-5">
  <div class="col<%= "-9" if @series.image.attached? %>">
    <%= Nokogiri::HTML5.fragment(@series.description).to_s.html_safe if @series.description.present? %>
  </div>
  <% if @series.image.attached? %>
  <div class="col-3">
    <%= link_to (image_tag @series.custom_image("image", 270, 220)), @series.image_link, {"aria-hidden": aria_hidden(@series), alt: @series.image_alt_text} if @series.image.attached? %>
    <%= image_tag @series.custom_image("image", 270, 220) unless @series.image.attached? %>
  </div>
  <% end %>
</div>

  <%= render "/books/books" %>

</div>