<!DOCTYPE html>
<html>
  <head>
    <title>Temple University Press</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta http-equiv="Content-Security-Policy" content="default-src 'self' www.google-analytics.com;img-src www.google-analytics.com;">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= yield :head %>
  </head>

  <body>

  <div id="skip-link">
    <%= link_to t("tupress.default.fields.content_skip"), "#skiplink_ada", :class => "element-invisible", :tabindex => "1" %>
    <%= link_to t("tupress.default.fields.search_skip"), "#", :class => "element-invisible", :onclick => "document.getElementById('search-block').focus();", :tabindex => "2" %>
  </div>

    <% flash.each do |key, value| %>
       <div class="flash <%= key %>"><%= value %></div>
    <% end unless controller_name == "forms" %>

    <%= render "header_navbar" %>

    <a href="#" name="skiplink_ada" id="skiplink_ada" aria-label="skip link"></a>

      <%= yield %>
 

    <%= render "footer" %>

  </body>
</html>
