<!DOCTYPE html>
<html>
  <head>
    <title>Temple University Press</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'nonce-<%= @nonce %>' www.google-analytics.com ssl.google-analytics.com;img-src 'self' www.google-analytics.com ssl.google-analytics.com tulib-press-prod.s3.amazonaws.com data:; frame-src 'self';">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    

    <%= yield :head %>
  </head>

  <% if @nonce.present? %>
    <!-- Google tag (gtag.js) -->
    <script nonce="<%= @nonce %>" async src="https://www.googletagmanager.com/gtag/js?id=G-ZK88S78SZ6"></script>
    <script nonce="<%= @nonce %>">
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-ZK88S78SZ6');
    </script>
  <% end %>

  <body data-controller="external-links">

  <div id="skip-link">
    <%= link_to t("tupress.default.fields.content_skip"), "#skiplink_ada", :class => "element-invisible", :tabindex => "1" %>
    <%= link_to t("tupress.default.fields.search_skip"), "#search-bar", :class => "element-invisible", :tabindex => "2" %>
  </div>

    <% flash.each do |key, value| %>
       <div class="flash <%= key %>"><%= value %></div>
    <% end #unless controller_name == "forms" %>

    <%= render "header_navbar" %>

    <a href="#" name="skiplink_ada" id="skiplink_ada" aria-label="skip link"></a>

      <%= yield %> 

    <%= render "footer" %>

  </body>
</html>
